In [4]:
#from matrix_factorization import BaselineModel, KernelMF, train_update_test_split

In [5]:
#import pandas as pd
#from sklearn.metrics import mean_squared_error

In [39]:
from matrix_factorization import BaselineModel, KernelMF, train_update_test_split

import pandas as pd
from sklearn.metrics import mean_squared_error

In [46]:
cols = ["user_id", "item_id", "rating", "timestamp"]
movie_data = pd.read_csv("dataset//ml-100k//u.data", names=cols, sep="\t", usecols=[0, 1, 2], engine="python")
movie_data.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

In [45]:
X = movie_data[["user_id", "item_id"]]
y = movie_data["rating"]

In [47]:
(X_train_initial, y_train_initial, X_train_update, y_train_update, X_test_update, y_test_update,) = train_update_test_split(movie_data, frac_new_users=0.2)

In [48]:
matrix_fact = KernelMF(n_epochs=20, n_factors=100, verbose=1, lr=0.001, reg=0.005)
matrix_fact.fit(X_train_initial, y_train_initial)

Epoch  1 / 20  -  train_rmse: 1.0725927766143106
Epoch  2 / 20  -  train_rmse: 1.040623953759531
Epoch  3 / 20  -  train_rmse: 1.0187355658790587
Epoch  4 / 20  -  train_rmse: 1.0025140348314663
Epoch  5 / 20  -  train_rmse: 0.9898493567915073
Epoch  6 / 20  -  train_rmse: 0.9795617382547914
Epoch  7 / 20  -  train_rmse: 0.9709289969865649
Epoch  8 / 20  -  train_rmse: 0.9635089746682869
Epoch  9 / 20  -  train_rmse: 0.9569993688554654
Epoch  10 / 20  -  train_rmse: 0.9511890258963874
Epoch  11 / 20  -  train_rmse: 0.9459197381170971
Epoch  12 / 20  -  train_rmse: 0.9410818968990642
Epoch  13 / 20  -  train_rmse: 0.9365892435693303
Epoch  14 / 20  -  train_rmse: 0.932383268369393
Epoch  15 / 20  -  train_rmse: 0.9284121144970989
Epoch  16 / 20  -  train_rmse: 0.9246409441931436
Epoch  17 / 20  -  train_rmse: 0.9210327418684287
Epoch  18 / 20  -  train_rmse: 0.9175639603159872
Epoch  19 / 20  -  train_rmse: 0.9142111066060512
Epoch  20 / 20  -  train_rmse: 0.9109588059477897

KernelMF(gamma=0.01, lr=0.001, n_epochs=20, reg=0.005)

In [49]:
matrix_fact.update_users(X_train_update, y_train_update, lr=0.001, n_epochs=20, verbose=1)

Epoch  1 / 20  -  train_rmse: 1.0209871640572334
Epoch  2 / 20  -  train_rmse: 1.003550742327728
Epoch  3 / 20  -  train_rmse: 0.9902572019629703
Epoch  4 / 20  -  train_rmse: 0.9799305592194609
Epoch  5 / 20  -  train_rmse: 0.9717377997107324
Epoch  6 / 20  -  train_rmse: 0.9650802712144465
Epoch  7 / 20  -  train_rmse: 0.9595501851582049
Epoch  8 / 20  -  train_rmse: 0.9548920274322107
Epoch  9 / 20  -  train_rmse: 0.9508785179643884
Epoch  10 / 20  -  train_rmse: 0.947379152241424
Epoch  11 / 20  -  train_rmse: 0.9442513145530653
Epoch  12 / 20  -  train_rmse: 0.941451945624728
Epoch  13 / 20  -  train_rmse: 0.9389004915549736
Epoch  14 / 20  -  train_rmse: 0.9365577672529876
Epoch  15 / 20  -  train_rmse: 0.9343870281102848
Epoch  16 / 20  -  train_rmse: 0.9323568749780572
Epoch  17 / 20  -  train_rmse: 0.9304507105310967
Epoch  18 / 20  -  train_rmse: 0.9286499859720433
Epoch  19 / 20  -  train_rmse: 0.9269369477759881
Epoch  20 / 20  -  train_rmse: 0.925302646773206

In [50]:
pred = matrix_fact.predict(X_test_update)
rmse = mean_squared_error(y_test_update, pred, squared=False)
print(f"\nTest RMSE: {rmse:.4f}")

Test RMSE: 0.9700

In [51]:
user = 200
items_known = X_train_initial.query("user_id == @user")["item_id"]
matrix_fact.recommend(user=user, items_known=items_known)

     user_id  item_id  rating_pred
298      200      318     4.909122
467      200      483     4.898216
152      200      191     4.840737
164      200      100     4.830592
742      200      223     4.830540
321      200      357     4.829637
125      200       98     4.824308
424      200       48     4.819680
99       200      127     4.812177
20       200      603     4.784806