In [1]:
import pandas as pd
import numpy as np

In [9]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [10]:
movies = movies.merge(credits, on='title', how='inner')
movies.shape

(4809, 23)

In [11]:
movies = movies[['movie_id', 'title', 'keywords', 'overview', 'genres', 'cast', 'crew']]

In [13]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
import ast

def getgenres(object):
    L = []
    for i in ast.literal_eval(object):
        L.append(i['name'])
    return L

In [17]:
movies['genres'] = movies['genres'].apply(getgenres)

In [18]:
movies['genres'][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [19]:
def getkeywords(object):
    L = []
    for i in ast.literal_eval(object):
        L.append(i['name'])
    return L

In [20]:
movies['keywords'] = movies['keywords'].apply(getkeywords)

In [21]:
movies['keywords'][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [22]:
def getcast(object):
    L = []
    counter = 0
    for i in ast.literal_eval(object):
        if counter == 3:
            break
        L.append(i['name'])
        counter += 1
    return L

In [23]:
movies['cast'] = movies['cast'].apply(getcast)

In [24]:
movies['cast'][0]

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [25]:
def getdirector(object):
    L = []
    for i in ast.literal_eval(object):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [26]:
movies['crew'] = movies['crew'].apply(getdirector)

In [27]:
movies['crew'][0]

['James Cameron']

In [28]:
movies['overview'] = movies['overview'].apply(lambda x : str(x).split())

In [29]:
movies['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [30]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(' ', '') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(' ', '') for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(' ', '') for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(' ', '') for i in x])

In [31]:
movies.head(1)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [32]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [33]:
movies['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [34]:
new_movies = movies[['movie_id', 'title', 'tags']]

In [35]:
new_movies.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [38]:
new_movies['tags'] = new_movies['tags'].apply(lambda x : str(x).lower())

C:\Users\Xen\AppData\Local\Temp\ipykernel_9936\2092922764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x : str(x).lower())

In [39]:
new_movies['tags'][0]

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'action', 'adventure', 'fantasy', 'sciencefiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'samworthington', 'zoesaldana', 'sigourneyweaver', 'jamescameron']"

In [41]:
import nltk

In [44]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [45]:
def stem(text):
    L = []
    for i in text.split():
        L.append(ps.stem(i))
    return ' '.join(L)

In [46]:
new_movies['tags'][0]

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'action', 'adventure', 'fantasy', 'sciencefiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'samworthington', 'zoesaldana', 'sigourneyweaver', 'jamescameron']"

In [47]:
new_movies['tags'].apply(stem)

0       ['in', 'the', '22nd', 'century,', 'a', 'parapl...
1       ['captain', 'barbossa,', 'long', 'believed', '...
2       ['a', 'cryptic', 'message', 'from', 'bond’s', ...
3       ['following', 'the', 'death', 'of', 'district'...
4       ['john', 'carter', 'is', 'a', 'war-weary,', 'f...
                              ...
4804    ['el', 'mariachi', 'just', 'wants', 'to', 'pla...
4805    ['a', 'newlywed', "couple's", 'honeymoon', 'is...
4806    ['"signed,', 'sealed,', 'delivered"', 'introdu...
4807    ['when', 'ambitious', 'new', 'york', 'attorney...
4808    ['ever', 'since', 'the', 'second', 'grade', 'w...
Name: tags, Length: 4809, dtype: object

In [48]:
new_movies['tags'][0]

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'action', 'adventure', 'fantasy', 'sciencefiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'samworthington', 'zoesaldana', 'sigourneyweaver', 'jamescameron']"

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=4000, stop_words='english')
cv.fit_transform(new_movies['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
profiles = cv.fit_transform(new_movies['tags']).toarray()

In [55]:
profiles.shape

(4809, 4000)

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(profiles)

In [61]:
similarity[0]

array([1.        , 0.09393364, 0.06262243, ..., 0.02615329, 0.0285831 ,
       0.        ])

In [62]:
def recommend(movie):
    index = np.where(new_movies['title'] == movie)[0][0]
    similar_movies = sorted(enumerate(similarity[index]), key=lambda x: x[1], reverse=True)[1:4]
    
    for i in similar_movies:
        print(new_movies['title'][i[0]])

In [65]:
recommend('Gladiator')

Hercules
Return of the Jedi
Abandoned

In [63]:
recommend('Aliens')

Alien
Alien³
Alien: Resurrection