<h2 style="color:maroon">CS-4053 Recommender Systems</h2>
<h4 style="color:navy blue">Course Instructor : Syed Zain Ul Hassan</h4>
<p>Description: A sample implementation of User-based Collaborative Filtering</p>

In [317]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [318]:
#raw interaction data
data = {'Item 0': [float('nan'), 4, 1, 2, 4], 'Item 1': [4, 5, 5, 1, 3], 'Item 2': [1, 2, 3, 2, 5]}
data = pd.DataFrame(data, index=['User 0', 'User 1', 'User 2', 'User 4', 'User 5'])

data

        Item 0  Item 1  Item 2
User 0     NaN       4       1
User 1     4.0       5       2
User 2     1.0       5       3
User 4     2.0       1       2
User 5     4.0       3       5

In [319]:
#finding similarity between all users
matrix = data.dropna(axis=1)
u = 0 #active user
i = 0 #item to be rated

similarity_matrix = pd.DataFrame(cosine_similarity(matrix))
similarity_matrix

          0         1         2         3         4
0  1.000000  0.990830  0.956674  0.650791  0.707107
1  0.990830  1.000000  0.987241  0.747409  0.796162
2  0.956674  0.987241  1.000000  0.843661  0.882353
3  0.650791  0.747409  0.843661  1.000000  0.997054
4  0.707107  0.796162  0.882353  0.997054  1.000000

In [320]:
# function to find k most similar users
def find_similar_users(k, user, item, matrix):
    
    # Adjusting k
    k += 1
    # finding similarity between all pair of users
    similarity_matrix = pd.DataFrame(cosine_similarity(matrix))  
    # focusing only on active user
    similarity_scores = np.array(similarity_matrix.loc[u])
    # sorting and finding k most similar users
    similar_users= np.array((-similarity_scores).argsort()[:k])
    # ignoring similarity of active user with himself
    similar_users = np.delete(similar_users, u)
    
    return similar_users, similarity_scores[similar_users]

In [321]:
# k most similar users
k = 2
user = 0
item = 0

users, scores = find_similar_users(k, u, i, matrix)
ratings = data.iloc[users]
ratings = np.array(ratings.iloc[:, 0])

print('k most similar users: ' + str(users))
print('Similarity scores of similar users : ' + str(scores))
print('Raw ratings of similar users for Item ' +str(0) + ' : ' + str(ratings))

k most similar users: [1 2]
Similarity scores of similar users : [0.99083017 0.95667388]
Raw ratings of similar users for Item 0 : [4. 1.]

In [322]:
# simple prediction function
def prediction(ratings, scores):
    
    result = 0
    denom = 0
    
    for i in range(k):
        result += scores[i] * ratings[i]
        
    result = result / np.sum(abs(scores))
    return result

In [323]:
# Predicting a rating and rounding-off
predicted_rating = int(prediction(ratings, scores))
print("Predicted Rating for Item " + str(item) + ' is : '  + str(predicted_rating))

Predicted Rating for Item 0 is : 2

<h3 style="color:maroon">Tasks to do next: </h3>
<p>Write a function to implement mean-centered predictions </br>
   Write a function to find similar users based on Pearson Correlation </br>
   Try to finish these tasks soon after Mid-term I
   </p>