### 1. 	Write a Python script to print a dictionary (name: dict1) where the keys are numbers between 1 and 10 (both included) and the values are square of keys.

In [1]:
dict1 = {x: x**2 for x in range(1, 11)}
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### 2.	Below are the two list convert it into a dictionary (name: dict2).
Keys = [‘One’, ‘Two’, ‘Three’, ‘Four’, ‘Five’]
Values = [10, 20, 30, 40, 50 ]

In [2]:
dict2 = { 'One' : '10', 'Two' : '20', 'Three' : '30', 'Four' : '40', 'Five' : 50 }
dict2

{'One': '10', 'Two': '20', 'Three': '30', 'Four': '40', 'Five': 50}

### 3.	Merge above two Python dictionaries (dict1 and dict2) into one (name: dict_merg).

In [3]:
dict_merge = {**dict1 , **dict2}
dict_merge

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 'One': '10',
 'Two': '20',
 'Three': '30',
 'Four': '40',
 'Five': 50}

### 4.	Considering a dictionary (dict1), write a Python script to check whether a given key (taking as any input) already exists in a dictionary or not (use if/else conditions).
### Output will be like:
### Key is present in the dictionary OR Key is not present in the dictionary.

In [4]:
dict4 = {'Ali':2001, 'Imran':1996, 'Haseeb':1965, 'Simrah':1985}
 
key = input("Enter the key to be searched: ")
 
if key in dict4:
    print("Key is present in the dictionary")
else:
    print("Key is not present in the dictionary")

Enter the key to be searched: Ali
Key is present in the dictionary

### 5.	Create a new dictionary by extracting the following keys from a given dictionary sample
### Dict = {   "name": "Kelly",   "age":25,   "salary": 8000,   "city": "New york" }
### Keys to extract: keys = [‘name’, ‘salary’]
### Expected output: {'name': 'Kelly', 'salary': 8000}

In [5]:
dict5 = { "name": "Kelly", "age":25,"salary": 8000,"city": "New york" }
dict5

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [6]:
res = dict((k, dict5[k]) for k in ['name', 'salary'] if k in dict5)
print(str(res))

{'name': 'Kelly', 'salary': 8000}

### 6.	Delete set of keys from Python Dictionary and keys To Remove = ["name", "salary"]

In [43]:
dict5.pop("salary","name")
dict5

{'age': 25, 'city': 'New york'}

### 7.	Display the cube of the number up to a given integer.

In [44]:
n=1
while n<=8:
    j=n**3
    print(j)
    n=n+1

1
8
27
64
125
216
343
512

### 8.	Display -10 to -1 using for loop.

In [45]:
range(-10,0)

range(-10, 0)

In [51]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 9.	Check if a value 200 exists in a dictionary.  sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [7]:
dict6 = {'a': 100, 'b': 200, 'c': 300}
check = 200 in dict6.values()
print(check)

True

### 10.	Print First 10 natural numbers using while loop.

In [8]:
n = int(input("Enter a number:"))

i = 1

while(i<=n):
    j = 1
    while(j<= i):
        print(j , end ="  ")
        j+=1
    print()
    i+=1

Enter a number:5
1
1  2
1  2  3
1  2  3  4
1  2  3  4  5