# Introduction to PYTHON

Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991. Python features a dynamic type system and automatic memory management and supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library.
Python has several advantages over other programming languages. They are: 
-	Code readability 
-	Easy syntax 
-	English like keywords 
-   Concise programs 
-	Automatic Memory languages 
-	Free and open source software

## Creating variables and assigning values
To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it. 

$ <variable name> = <value> $
    
Python uses = to assign values to variables. There's no need to declare a variable in advance (or to assign a data type to it), assigning a value to a variable itself declares and initializes the variable with that value. There's no way to declare a variable without assigning it an initial value.

# Common types in Python 

* **Numeric** : Intergers , floats , complex 
* **Sequence** : List , tuple , range
* **Binary** : Byte , bytearray 
* **True/ Flase** : bool 
* **Text** : String

In [163]:
a= 4
b = 3.5
c = 'Pakistan' 
d = [1,2,3,4]
print(a,b,c,d)

4 3.5 Pakistan [1, 2, 3, 4]

In [164]:
type(a)

int

In [165]:
type(b)

float

In [166]:
type(c)

str

In [167]:
type(d)

list

In [168]:
print ('Hello World')

Hello World

In [169]:
print('List:',d)

List: [1, 2, 3, 4]

In [170]:
print(" My country  name:  ", c)

 My country  name:   Pakistan

# Python as a Calculator

In [171]:
2+4

6

In [172]:
3-5

-2

In [173]:
4*5

20

In [174]:
23/2

11.5

In [175]:
45%5    # Reminder

0

In [176]:
2**3   # power

8

In [177]:
10//3  # Round off

3

# Python Data Types
Data types are nothing but variables you use to reserve some space in memory. Python variables do not need an explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

## String data type

String are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Strings are immutable sequence data type, i.e each time one makes any changes to a string, completely new string object is created.

In [178]:
s1 = "Applied"
s2 = "Physics"
s1, s2     # no need print

('Applied', 'Physics')

In [179]:
s1[2], s2[3], s1[0], s2[0]

('p', 's', 'A', 'P')

In [180]:
s1[0:2] , s2[0:2]

('Ap', 'Ph')

In [181]:
s1+s2

'AppliedPhysics'

## Sequence Operations
As sequences, strings support operations that assume a positional ordering among items. For example, if we have a four-character string, we can verify its length with the built-in len function and fetch its components with indexing expressions:

In Python, indexes are coded as offsets from the front, and so start from 0: the first item
is at index 0, the second is at index 1, and so on.

In [182]:
Str1 = "Math"
## for calculating lentgh of string 
len(Str1)

4

In [183]:
# Indexing starts from 0  then 1, 2, 3 and so on... 

Str1[0]  #  The first item in Str1, indexing by zero-based position

'M'

In [184]:
Str1[1]   # The second item from the left

'a'

In [185]:
Str1[-1] # The last item in S

'h'

In [186]:
 Str1[1:3] # Slice of Str1 from offsets 1 through 2 (not 3)

'at'

In [187]:
Str1[1:]   # Everything past the first (1:len(Str1))

'ath'

In [188]:
Str1[0:3] #Everything but the last

'Mat'

In [189]:
Str1[:3]  # same as above

'Mat'

In [190]:
Str1[0:-1]# Everything but the last again, but simpler (0:-1)

'Mat'

In [191]:
Str1[0:-2]

'Ma'

In [192]:
Str1 [:] #All of Str1 as a top-level copy (0:len(S))

'Math'

In [193]:
St1 = "PakistanZindabad"

In [194]:
St1[::3]   #  letter appear after 2 index not 3 for whole string

'Piaiad'

In [195]:
St1[::3], St1[::+2], St1[::-2], St1[::-4]  #

('Piaiad', 'PksaZnaa', 'dbdintia', 'ddni')

## String is unchanged 

Notice that the plus sign (+) means different things for different objects: addition for
numbers, and concatenation for strings. This

In [196]:
Str1 + "Chemistry"   # Concatenation

'MathChemistry'

In [197]:
Str1    # string is unchanged

'Math'

### Immutability
Notice that in the prior examples, we were not changing the original string with any of
the operations we ran on it. Every string operation is defined to produce a new string
as its result, because strings are immutable in Python—they cannot be changed in-place
after they are created. For example, you can’t change a string by assigning to one of its
positions, but you can always build a new one and assign it to the same name.

In [198]:
Str1[0]= 'z'   # Immutable objects cannot be changed

TypeError: 'str' object does not support item assignment

In [199]:
Str1 = 'z' + Str1[1:]  ## But we can run expressions to make new objects
Str1

'zath'

### Find and Replace 
For example, the string **find** method is the basic substring search operation (it returns
the offset of the passed-in substring, or −1 if it is not present), and the string **replace**
method performs global searches and replacements:

In [200]:
## Find the offset of a substring

Str1.find('za'), Str1.find('at'), Str1.find('th'), Str1.find('t'), Str1.find('h'), Str1.find('zath'), Str1.find('a')

(0, 1, 2, 2, 3, 0, 1)

In [201]:
# Replace occurrences of a substring with another
Str1.replace('th', 'jk')

'zajk'

In [202]:
Str1    # string is unchanged

'zath'

### Capitalization

In [203]:
s3 = 'vector addtion' 
s3.capitalize()

'Vector addtion'

### Uppercase conversions

In [204]:
str2 = 'Vector Mutlipication'
str2.upper()

'VECTOR MUTLIPICATION'

### lowercase conversions

In [205]:
s4 = 'MOTION IN 1D'
s4.lower()

'motion in 1d'

### Repetition of string

In [206]:
s2*3

'PhysicsPhysicsPhysics'

### Split a string

In [207]:
# Split from s 
sp = 'Lets split the word'
sp.split('s ')

['Let', 'split the word']

In [208]:
# Split from w 
sp = 'Lets split the word'
sp.split('w')

['Lets split the ', 'ord']

In [209]:
sp = 'Lets split the word'
sp.split('p')

['Lets s', 'lit the word']

# List  data type 
A list contains items separated by commas and enclosed within square brackets [ ]. Lists are almost similar to arrays in C. One difference is that all the items belonging to a list can be of different data type.

## Sequence Operations
Because they are sequences, lists support all the sequence operations we discussed for
strings; the only difference is that the results are usually lists instead of strings. For
instance, given a three-item list:

In [210]:
L1 = [1,2,3,4] # A list of four same object type.

L = [123, 'Karachi', 1.23] # A list of three different-type objects

len(L), len(L1) # Number of items in the list

(3, 4)

### Indexing Lists
Individual elements of a list can be accessed or indexed using bracket [ ] notation. Note that Python lists start with the index zero, not the index 1. For example:

Note: Python lists start indexing at [0] not at [1]. To call the elements in a list with 3 values use: lst[0], lst[1], lst[2].

In [211]:
# we can index, slice, and so on, just as for strings:
L[0]  # Indexing by position

123

In [212]:
L[1] , L[2]

('Karachi', 1.23)

### Slicing Lists
Colons : are used inside the square brackets to denote all

In [213]:
L[:]

[123, 'Karachi', 1.23]

Negative numbers can be used as indexes to call the last number of elements in the list

In [214]:
L[-2]

'Karachi'

In [215]:
L[-1]

1.23

The colon operator can also be used to denote all up to and thru end.
The colon operator can also be used to denote start : end + 1. Note that indexing here in not inclusive. lst[1:3] returns the 2nd element, and 3rd element but not the fourth even though 3 is used in the index.

Remember! Python indexing is not inclusive. The last element called in an index will not be returned.

In [216]:
L[:2]  # all up to 2

[123, 'Karachi']

In [217]:
L[2:]  # 2 thru end

[1.23]

In [218]:
L[:-1] # Slicing a list returns a new list

[123, 'Karachi']

In [219]:
L + [4, 5, 6] # Concatenation makes a new list too

[123, 'Karachi', 1.23, 4, 5, 6]

In [220]:
len(L), L

(3, [123, 'Karachi', 1.23])

### Lists are mutable

In [221]:
L[2] = 22
L

[123, 'Karachi', 22]

In [222]:
type(L)

list

In [223]:
type(L[0]), type(L[1])

(int, str)

### Appending to a list using " append and extend"
lists have no fixed size. That is, they can grow and shrink on demand, in response to list-specific operations:

In [224]:
list1 = [1,2,3,4]
list2 = ['Karachi' , 'Lahore' , 'Islamabad', 'Multan']
list1.extend(list2)
list1

[1, 2, 3, 4, 'Karachi', 'Lahore', 'Islamabad', 'Multan']

In [225]:
# Growing: add object at end of list 

list1.append(list2)
list1

[1,
 2,
 3,
 4,
 'Karachi',
 'Lahore',
 'Islamabad',
 'Multan',
 ['Karachi', 'Lahore', 'Islamabad', 'Multan']]

In [226]:
type(list1[8])

list

### Deleting from a list using " remove and pop "

In [227]:
# Remove use for any item present in the list  for example here 2 will be removed from list.

list1.remove(2)  
list1

[1,
 3,
 4,
 'Karachi',
 'Lahore',
 'Islamabad',
 'Multan',
 ['Karachi', 'Lahore', 'Islamabad', 'Multan']]

In [228]:
# To removed any item using index pop will be used. Here 2nd index will be removed from list. 
list1.pop(1)
list1

[1,
 4,
 'Karachi',
 'Lahore',
 'Islamabad',
 'Multan',
 ['Karachi', 'Lahore', 'Islamabad', 'Multan']]

### Sort and reverse 

Because lists are mutable, most list methods also change the list object in-place, instead of creating a new one:
The list sort method here, for example, orders the list in ascending fashion by default,
and reverse reverses it—in both cases, the methods modify the list directly

In [229]:
M = ['bb', 'aa', 'cc']
N = [ 'z','r''a','e','g']
M.sort()
M

['aa', 'bb', 'cc']

In [230]:
M.reverse()
M

['cc', 'bb', 'aa']

In [231]:
N.sort()
N

['e', 'g', 'ra', 'z']

In [232]:
P = [11,32,4,6,87]
P.sort()
P

[4, 6, 11, 32, 87]

# Tuples in Python
### Tuples are immutable

In [233]:
tuple1 = ('AP', 'PF','Eng')    
tuple1

('AP', 'PF', 'Eng')

In [234]:
tuple1[2]

'Eng'

In [235]:
tuple1[0] = "CP"

TypeError: 'tuple' object does not support item assignment

# Binary

In [236]:
dec = 320
print("The decimal value of", dec, "is:", dec)
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 320 is: 320
0b101000000 in binary.
0o500 in octal.
0x140 in hexadecimal.

In [237]:
bin(4)

'0b100'

In [238]:
hex(10)

'0xa'

# Boolean data Type

In [239]:
s = 'Programming'
r = 'Fundamental'
t = 'Programming'
s == r , s==t , r==t

(False, True, False)

In [240]:
s[6]==r[5], s[0]==t[1]

(True, False)

In [241]:
b1 = True 
b2 = False 
type(b1) , type(b2)

(bool, bool)

In [242]:
zero_int = 0  #An int, float or complex number set to zero returns as False. An integer, 
                  #float or complex number set to any other number, positive or negative, returns as True.
bool(zero_int)

False

In [243]:
pos_int = 1
f = -0
neg = -2.3
bool(pos_int) , bool(s1) , bool(b1), bool(b2), bool(f), bool(neg)

(True, True, True, False, False, True)

In [244]:
f = 0.0
fr = 0.22
bool(f) , bool(fr)

(False, True)

In [245]:
name = "Anaya"
empty = ""

bool(name),  bool(empty)

(True, False)

In [246]:
b1 or b2   , b1 and b2 , not b1

(True, False, False)

In [247]:
b1 == b2

False

In [248]:
b1 != b2

True