## 1. Program to calculate the length of name.

In [14]:
Str1 = "HASSAN"
len(Str1)

6

## 2. Swapping the characters of string and printing a sentence.

In [15]:
Str1 ="Hassan"

In [16]:
Str1[0:2] + Str1[4:6]

'Haan'

In [17]:
Str1[0:2] + Str1[0:2]

'HaHa'

In [18]:
Str1[4:6] + Str1[2:4] + Str1[0:2]

'anssHa'

In [19]:
print(" The first 2 and the last 2 characters of Hassan:  " , Str1[0:2] + Str1[4:6])

 The first 2 and the last 2 characters of Hassan:   Haan

In [20]:
print(" The swapping of the first 2 and last 2 characters of Hassan is: " , Str1[4:6] + Str1[2:4] + Str1[0:2])

 The swapping of the first 2 and last 2 characters of Hassan is:  anssHa

## 3. Program to get a single string from two given strings, separated by a space.

In [21]:
Name1 = "Syed"
Name2 = "Hassan"
Name1, Name2

('Syed', 'Hassan')

## 4. Program to get a string from a given string where first char have been changed to $

In [26]:
Str1 = '$' + Str1[1:]
Str1

'$assan'

## 5. Program to check the characters of your name match with first chars of your father name.

In [27]:
a = 'Hassan'
b = 'Jawed'
a[1]==b[1] , a[3]==b[4] , a[4]==b[1]

(True, False, True)

## 6. Program to insert a char to replace the first char of a string.

In [28]:
Str2 = "Screenshot"

In [29]:
Str2.replace('S', 'X')

'Xcreenshot'

## 7. Program to reverse a string.

In [30]:
F = ['apple', 'mango', 'banana', 'orange']
F.reverse()
F

['orange', 'banana', 'mango', 'apple']